
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/*Style the form*/
input{padding-top: 5px;
font-size:18px;
      margin-bottom: 10px;     
}

/* Style the header */
header {
  background-color: #666;
  padding: 8px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.lgn{
  background-color:yellow;
  padding:8px;
  color:black;
  border-radius:20px;
  font-weight:450px;
  float:right;
  
}


/* Style the list inside the menu */


article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f9dcf3;
  height: 490px; /* only for demonstration, should be removed */
}
/*  Clear floats after the columns   */
section::after {
  content: "";
  display: table;
  clear: both;
 }  

/* Style the footer */
footer {
  background-color: #777;
  padding: 7px;
  text-align: center;
  color: white;
  height: 40px;
  font-size: 20px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
   article {
    width: 100%;
    height: 100%;
  }
.head{
  height:500px;
  
}

a:link{color:green;
background-color:transparent;
text-decoration:none;}

a:visited{color:pink;
background-color:red;
text-decoration:none}

a:hover{color:red;
background-color:underline;
text-decoration:none;}


a:active{color:yellow;
background-color:transparent;
text-decoration:underline;}


.spn{color:#eb1e32;
/*   float:right; */
/*   font-size:1px; */
/*   align-items: right; */
  
}
